<div class="wrapper">
  <div class="container">
    <div class="title">5-Day Weather Forecast</div>
    <div class="input-area"></div>
    <mat-form-field class="city-dropdown" appearance="fill">
      <mat-label>Select a City</mat-label>
      <mat-select (selectionChange)="onCityChange($event.value)">
        <mat-option [value]="'null'">-- No Selection --</mat-option>
        <mat-option *ngFor="let city of cities" [value]="city">{{
          city
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <app-message-area></app-message-area>
    <app-forecast-cards></app-forecast-cards>
    <app-progress-loader></app-progress-loader>
  </div>
</div>
