.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f2f5;
  padding: 2rem;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 900px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
.title {
  color: #333;
  width: 100%;
  margin-bottom: 2rem;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
}
.city-dropdown {
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}
